.App{
  min-height: 100vh;
  padding-top: 90px; /* 70px del navbar + 20px de espacio extra */
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
body{
  color: #ccc;
}
h1{
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}